@import "tailwindcss";

body {
  @apply text-stone-950;
}

/* @theme {
  --color-stone-50: #f9f6f3;
  --color-stone-100: #f2eae2;
  --color-stone-200: #decab7;
  --color-stone-300: #d3b69e;
  --color-stone-400: #c09477;
  --color-stone-500: #b37c5c;
  --color-stone-600: #a56a51;
  --color-stone-700: #8a5644;
  --color-stone-800: #70463c;
  --color-stone-900: #5b3b33;
  --color-stone-950: #301e1a;
} */

.form-input {
  @apply w-full border-2 border-amber-500 p-2 hover:cursor-pointer hover:bg-amber-50 hover:delay-200 hover:duration-200;
  border-radius: 0.25rem;
}

.checkbox {
  @apply size-5 cursor-pointer appearance-none rounded border-2 border-amber-500 bg-white leading-4 font-bold transition duration-200 checked:border-amber-600 checked:bg-amber-500 checked:before:text-white checked:before:content-['✓'];
}
