@import "tailwindcss";

body {
  @apply text-base-950;
}

@theme {
  --color-base-50: #f9f6f3;
  --color-base-100: #f2eae2;
  --color-base-200: #decab7;
  --color-base-300: #d3b69e;
  --color-base-400: #c09477;
  --color-base-500: #b37c5c;
  --color-base-600: #a56a51;
  --color-base-700: #8a5644;
  --color-base-800: #70463c;
  --color-base-900: #5b3b33;
  --color-base-950: #301e1a;

  --color-highlight-1: #fd726c;
  --color-highlight-2: #b8b500;
}

.form-input {
  @apply border-highlight-2 w-full border p-2;
  border-radius: 0.25rem;
}
